<h3>Todos</h3>

<app-todos-list [showCreateForm]="showCreateForm" (toggledCreateForm)="onToggleCreateForm($event)" (toggledEditForm)="onShowEditForm($event)"></app-todos-list>

<hr *ngIf="showCreateForm || showEditForm">

<app-create-todo *ngIf="showCreateForm" (toggledCreateForm)="onToggleCreateForm($event)"></app-create-todo>

<app-edit-todo *ngIf="showEditForm" [editTodo]="editTodo" (hideEditForm)="onHideEditForm()"></app-edit-todo>
