.alert-bg {
  background-color: #cce5ff;
}

.completed {
  background-color: rgb(233, 233, 233)
}

.center-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
}

.center-space-between-content {
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.todo-name {
  font-size: 16px;
}

.deleted-item {
  background-color: rgba(220, 53, 70, 0.3);
}
