<div *ngIf="!todosList">Loading...</div>

<ul class="list-group">
  <li *ngFor="let todo of todosList" class="list-group-item d-flex justify-content-between align-items-center"
    [ngClass]="{'completed': todo.completed, 'deleted-item': checkIfTodoIsBeingDeleted(todo)}">
    <div class="center-container">
      <div class="center-space-between-content">
        <div class="left-container">
          <span class="todo-name">{{ todo.name }}</span>
        </div>
        <div class="right-container">
          <span *ngIf="todo.completed" class="badge badge-primary">Done</span>
          <button *ngIf="!todo.completed && !checkIfTodoIsBeingDeleted(todo)" (click)="updateCompleted(todo)" class="btn btn-success btn-sm">Done</button>
          <button *ngIf="todo.completed && !checkIfTodoIsBeingDeleted(todo)" (click)="updateCompleted(todo)" class="btn btn-success btn-sm">Undo</button>
          <button *ngIf="!checkIfTodoIsBeingDeleted(todo)" class="btn btn-primary btn-sm" (click)="toggleEditForm(todo)">Edit</button>
          <button *ngIf="!checkIfTodoIsBeingDeleted(todo)" class="btn btn-danger btn-sm" (click)="deleteTodo(todo)">Delete</button>
          <button *ngIf="checkIfTodoIsBeingDeleted(todo)" class="btn btn-danger btn-sm" (click)="undoDeleteTodo(todo)">Undo
            Delete</button>
        </div>
      </div>
    </div>
  </li>

  <div *ngIf="todosList?.length == 0" class="alert alert-bg" role="alert">
    You have no todos. Please create one.
  </div>
</ul>
<button *ngIf="!showCreateForm" (click)="toggleCreateForm()" class="btn btn-primary">Create new Todo</button>
