<h4>Edit todo</h4>
<form (ngSubmit)="onEditTodo()">
  <div class="form-group">
    <input type="text" autocomplete="off" required [(ngModel)]="editTodo.name" class="form-control" name="name"
      placeholder="Todo name">
    <div *ngIf="validation" class="invalid-feedback text-danger">
      {{ validation }}
    </div>
  </div>
  <button type="button" class="btn btn-secondary" (click)="toggleEditForm()">Cancel</button>
  <button type="submit" class="btn btn-primary">Save</button>
</form>
