<h4>New todo</h4>
<form (ngSubmit)="onCreateTodo()">
  <div class="form-group">
    <input autocomplete="off" type="text" required [(ngModel)]="todo.name" class="form-control" name="name" placeholder="Todo name">
    <div *ngIf="validation" class="invalid-feedback text-danger">
      {{ validation }}
    </div>
  </div>
  <button type="button" class="btn btn-secondary" (click)="toggleCreateForm()">Cancel</button>
  <button type="submit" class="btn btn-primary">Create</button>
</form>
